<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Skillset</h2>
                    <h3 class="section-subheading text-muted">I've learnt a huge amount in a very short time, and I'd love to just keep on learning.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Javascript</h4>
                    <p class="text-muted">I've used a mean stack to create a couple of projects that I'm extremely proud of. I enjoy the variety that is available in javascript when you add in node, angular and others.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Ruby</h4>
                    <p class="text-muted">Ruby was a massive eye opener for me. It is amazing how quickly you can put the basics together using it. I made a mobile first app and loved the vast number of gems there are to play with!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">HTML&CSS</h4>
                    <p class="text-muted">HTML and CSS are core aspects of all websites, I've enjoyed the control that they allow you to have over the look and layout of a project.</p>
                </div>
            </div>
        </div>
    </section>